In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/content'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/content/test.csv
/content/train.csv
/content/.config/.last_update_check.json
/content/.config/.last_opt_in_prompt.yaml
/content/.config/active_config
/content/.config/.last_survey_prompt.yaml
/content/.config/gce
/content/.config/config_sentinel
/content/.config/logs/2022.09.26/13.44.51.979721.log
/content/.config/logs/2022.09.26/13.43.53.411838.log
/content/.config/logs/2022.09.26/13.45.15.211900.log
/content/.config/logs/2022.09.26/13.44.43.065608.log
/content/.config/logs/2022.09.26/13.45.16.034312.log
/content/.config/logs/2022.09.26/13.44.20.618810.log
/content/.config/configurations/config_default
/content/sample_data/anscombe.json
/content/sample_data/README.md
/content/sample_data/mnist_test.csv
/content/sample_data/california_housing_train.csv
/content/sample_data/california_housing_test.csv
/content/sample_data/mnist_train_small.csv

In [ ]:
df = pd.read_csv("/content/train.csv")
df.head(20)
test = pd.read_csv("/content/test.csv")

In [ ]:
df.shape

(4896, 3002)

In [ ]:
df.columns

Index(['Email No.', 'the', 'to', 'ect', 'and', 'for', 'of', 'a', 'you', 'hou',
       ...
       'connevey', 'jay', 'valued', 'lay', 'infrastructure', 'military',
       'allowing', 'ff', 'dry', 'Prediction'],
      dtype='object', length=3002)

In [ ]:
df.isnull().sum()

Email No.     0
the           0
to            0
ect           0
and           0
             ..
military      0
allowing      0
ff            0
dry           0
Prediction    0
Length: 3002, dtype: int64

In [ ]:
df.describe()

,the,to,ect,and,for,of,a,you,hou,in,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
count,4896.000000,4896.000000,4896.000000,4896.000000,4896.000000,4896.000000,4896.000000,4896.000000,4896.000000,4896.000000,...,4896.000000,4896.000000,4896.000000,4896.000000,4896.000000,4896.000000,4896.000000,4896.000000,4896.000000,4896.000000
mean,6.629289,6.192402,5.164011,3.091503,3.104167,2.636029,55.563317,2.462214,2.035539,10.626021,...,0.005310,0.013072,0.011234,0.097631,0.004493,0.006944,0.003881,0.920956,0.007353,0.290850
std,11.526247,9.506954,14.286441,6.027567,4.643378,6.248471,87.530160,4.301863,7.075802,19.364195,...,0.108723,0.204726,0.119910,0.565493,0.098923,0.142761,0.071360,2.835583,0.100799,0.454201
min,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,11.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.000000,3.000000,1.000000,1.000000,2.000000,1.000000,28.000000,1.000000,0.000000,5.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,8.000000,7.000000,4.000000,3.000000,4.000000,2.000000,63.000000,3.000000,1.000000,12.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
max,124.000000,132.000000,344.000000,89.000000,47.000000,77.000000,1898.000000,70.000000,167.000000,223.000000,...,4.000000,7.000000,2.000000,12.000000,3.000000,4.000000,3.000000,114.000000,4.000000,1.000000

In [ ]:
df.corr()

,the,to,ect,and,for,of,a,you,hou,in,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
the,1.000000,0.853466,0.342032,0.838371,0.790129,0.794388,0.782980,0.454553,0.305867,0.850191,...,0.009396,0.079797,0.236406,0.200880,0.106633,0.135648,0.137114,0.339163,0.053514,0.003118
to,0.853466,1.000000,0.373236,0.822881,0.779062,0.749701,0.896235,0.498800,0.344860,0.881131,...,0.013637,0.105244,0.240031,0.236169,0.096180,0.094445,0.128084,0.402896,0.073563,0.060890
ect,0.342032,0.373236,1.000000,0.274197,0.358730,0.176290,0.399076,0.150931,0.974176,0.296306,...,0.136224,0.032165,0.046625,0.046442,0.004393,-0.007871,0.004185,0.142364,0.002425,-0.119180
and,0.838371,0.822881,0.274197,1.000000,0.757543,0.807656,0.811452,0.464821,0.235086,0.874402,...,0.005181,0.108294,0.281228,0.236818,0.156571,0.086627,0.133587,0.396891,0.043612,0.120042
for,0.790129,0.779062,0.358730,0.757543,1.000000,0.685074,0.741008,0.485621,0.318836,0.764546,...,0.023184,0.044341,0.245195,0.190007,0.139522,0.069790,0.130103,0.298697,0.039828,0.002777
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
military,0.135648,0.094445,-0.007871,0.086627,0.069790,0.074745,0.114830,0.006748,0.005418,0.123390,...,-0.002376,-0.003107,0.043177,0.108004,0.041187,1.000000,0.057514,0.049803,0.010647,0.066512
allowing,0.137114,0.128084,0.004185,0.133587,0.130103,0.116335,0.113796,0.087989,-0.001082,0.146231,...,-0.002657,-0.003473,-0.005096,0.020984,0.286929,0.057514,1.000000,0.102477,-0.003968,0.015593
ff,0.339163,0.402896,0.142364,0.396891,0.298697,0.439550,0.461040,0.187854,0.114870,0.444594,...,0.005338,0.074626,0.131189,0.159225,0.114881,0.049803,0.102477,1.000000,0.049922,0.133171
dry,0.053514,0.073563,0.002425,0.043612,0.039828,0.026955,0.096455,0.029851,0.000493,0.079487,...,-0.003564,0.034940,-0.006835,0.019659,-0.003314,0.010647,-0.003968,0.049922,1.000000,-0.006562
Prediction,0.003118,0.060890,-0.119180,0.120042,0.002777,0.204451,0.109836,0.136110,-0.126408,0.158330,...,-0.031284,-0.034304,0.101289,0.064405,0.039108,0.066512,0.015593,0.133171,-0.006562,1.000000

In [ ]:
df.drop_duplicates(inplace=True)
print(df.shape)

(4896, 3002)

In [ ]:
print(df.isnull().sum())

Email No.     0
the           0
to            0
ect           0
and           0
             ..
military      0
allowing      0
ff            0
dry           0
Prediction    0
Length: 3002, dtype: int64

In [ ]:
X = df.iloc[:,1:3001]
X

,the,to,ect,and,for,of,a,you,hou,in,...,enhancements,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry
0,0,0,1,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,8,13,24,6,6,2,102,1,27,18,...,0,0,0,0,0,0,0,0,1,0
2,0,0,1,0,0,0,8,0,0,4,...,0,0,0,0,0,0,0,0,0,0
3,0,5,22,0,5,1,51,2,10,1,...,0,0,0,0,0,0,0,0,0,0
4,7,6,17,1,5,2,57,0,9,3,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4891,2,2,2,3,0,0,32,0,0,5,...,0,0,0,0,0,0,0,0,0,0
4892,35,27,11,2,6,5,151,4,3,23,...,0,0,0,0,0,0,0,0,1,0
4893,0,0,1,1,0,0,11,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4894,2,7,1,0,2,1,28,2,0,8,...,0,0,0,0,0,0,0,0,1,0
4895,22,24,5,1,6,5,148,8,2,23,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
Y = df.iloc[:,-1].values
Y

array([0, 0, 0, ..., 1, 1, 0])

In [ ]:
df.replace([np.inf, -np.inf], np.nan, inplace=True)

In [ ]:
train_x, test_x, train_y, test_y = train_test_split(X,Y, test_size=0.2, random_state = 1)

In [ ]:
rfc = RandomForestClassifier(n_estimators=100,criterion='gini')
# n_estimators = No. of trees in the forest
# criterion = basis of making the decision tree split, either on gini impurity('gini'), or on infromation gain('entropy')
rfc.fit(train_x,train_y)
y_pred3 = rfc.predict(test_x)
print("Accuracy Score of Random Forest Classifier : ", accuracy_score(y_pred3,test_y))

Accuracy Score of Random Forest Classifier :  0.9724489795918367

In [ ]:
test.dropna(inplace=True)

In [ ]:
test.columns

Index(['Email No.', 'the', 'to', 'ect', 'and', 'for', 'of', 'a', 'you', 'hou',
       ...
       'enhancements', 'connevey', 'jay', 'valued', 'lay', 'infrastructure',
       'military', 'allowing', 'ff', 'dry'],
      dtype='object', length=3001)

In [ ]:
test.isnull().sum()

Email No.         0
the               0
to                0
ect               0
and               0
                 ..
infrastructure    0
military          0
allowing          0
ff                0
dry               0
Length: 3001, dtype: int64

In [ ]:
test.describe()

,the,to,ect,and,for,of,a,you,hou,in,...,enhancements,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry
count,277.000000,277.000000,277.000000,277.000000,277.000000,277.000000,277.000000,277.000000,277.000000,277.000000,...,277.0,277.0,277.000000,277.0,277.000000,277.0,277.0,277.000000,277.000000,277.0
mean,6.823105,6.097473,4.776173,2.783394,3.483755,2.458484,54.588448,2.537906,1.823105,10.133574,...,0.0,0.0,0.003610,0.0,0.104693,0.0,0.0,0.007220,0.801444,0.0
std,15.108824,10.014549,10.268519,6.359121,5.283683,5.889309,88.367667,4.532033,4.650982,17.753144,...,0.0,0.0,0.060084,0.0,0.636919,0.0,0.0,0.084818,1.484313,0.0
min,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0
25%,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,14.000000,0.000000,0.000000,1.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0
50%,3.000000,3.000000,2.000000,1.000000,2.000000,1.000000,29.000000,1.000000,0.000000,5.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0
75%,7.000000,7.000000,3.000000,3.000000,4.000000,3.000000,55.000000,3.000000,1.000000,11.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,1.000000,0.0
max,210.000000,111.000000,92.000000,83.000000,37.000000,77.000000,951.000000,42.000000,38.000000,191.000000,...,0.0,0.0,1.000000,0.0,6.000000,0.0,0.0,1.000000,12.000000,0.0

In [ ]:
test.corr()

,the,to,ect,and,for,of,a,you,hou,in,...,enhancements,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry
the,1.000000,0.862330,0.307357,0.897451,0.720719,0.866843,0.829506,0.698214,0.329642,0.830603,...,NaN,NaN,-0.023241,NaN,0.496665,NaN,NaN,0.012310,0.561466,NaN
to,0.862330,1.000000,0.454756,0.867503,0.829964,0.811310,0.901111,0.664224,0.466091,0.901333,...,NaN,NaN,-0.036715,NaN,0.549956,NaN,NaN,0.007700,0.628460,NaN
ect,0.307357,0.454756,1.000000,0.260318,0.651505,0.229371,0.445256,0.281475,0.976985,0.362367,...,NaN,NaN,-0.022176,NaN,0.399142,NaN,NaN,0.010182,0.104046,NaN
and,0.897451,0.867503,0.260318,1.000000,0.666958,0.850440,0.878853,0.668985,0.282663,0.880071,...,NaN,NaN,-0.026394,NaN,0.502994,NaN,NaN,0.002910,0.604606,NaN
for,0.720719,0.829964,0.651505,0.666958,1.000000,0.637440,0.799691,0.648947,0.624651,0.751858,...,NaN,NaN,-0.039760,NaN,0.540441,NaN,NaN,0.000263,0.471506,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
infrastructure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
military,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
allowing,0.012310,0.007700,0.010182,0.002910,0.000263,-0.006651,-0.017488,0.008711,0.003249,0.011388,...,NaN,NaN,-0.005133,NaN,-0.014043,NaN,NaN,1.000000,-0.046130,NaN
ff,0.561466,0.628460,0.104046,0.604606,0.471506,0.689366,0.680615,0.476983,0.080441,0.654666,...,NaN,NaN,-0.032560,NaN,0.366992,NaN,NaN,-0.046130,1.000000,NaN
dry,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
test.drop_duplicates(inplace=True)
print(test.shape)

(277, 3001)

In [ ]:
print(test.isnull().sum())

Email No.         0
the               0
to                0
ect               0
and               0
                 ..
infrastructure    0
military          0
allowing          0
ff                0
dry               0
Length: 3001, dtype: int64

In [ ]:
P = test.iloc[:,1:3001]
P

,the,to,ect,and,for,of,a,you,hou,in,...,enhancements,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry
0,0,0,1,0,4,0,10,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,12,53,2,14,18,14,287,0,2,86,...,0,0,0,0,0,0,0,0,6,0
2,5,4,1,1,4,4,51,0,1,8,...,0,0,0,0,0,0,0,0,0,0
3,1,1,2,0,1,0,14,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,18,14,2,3,1,5,87,3,1,16,...,0,0,0,0,0,0,0,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
272,0,0,1,2,4,1,27,3,0,2,...,0,0,0,0,0,0,0,0,0,0
273,0,5,1,0,1,0,7,0,0,2,...,0,0,0,0,0,0,0,0,0,0
274,0,1,2,0,1,0,9,0,0,0,...,0,0,0,0,0,0,0,0,0,0
275,0,1,2,0,3,0,13,0,0,0,...,0,0,0,0,0,0,0,0,0,0
276,4,3,1,5,0,1,32,0,0,12,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
x_test = P

In [ ]:
pred = rfc.predict(x_test)
pred

array([0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0])

In [ ]:
submission = test[["Email No."]]
submission

     Email No.
0     Email 25
1     Email 26
2     Email 27
3     Email 28
4     Email 29
..         ...
272  Email 496
273  Email 497
274  Email 498
275  Email 499
276  Email 500

[277 rows x 1 columns]

In [ ]:
submission["Prediction"] = pd.Series(pred)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
submission

     Email No.  Prediction
0     Email 25           0
1     Email 26           1
2     Email 27           0
3     Email 28           0
4     Email 29           0
..         ...         ...
272  Email 496           1
273  Email 497           0
274  Email 498           0
275  Email 499           0
276  Email 500           0

[277 rows x 2 columns]

In [ ]:
submission.to_csv('/content/submission.csv', index=None)

In [ ]:
pd.read_csv('/content/submission.csv')

     Email No.  Prediction
0     Email 25           0
1     Email 26           1
2     Email 27           0
3     Email 28           0
4     Email 29           0
..         ...         ...
272  Email 496           1
273  Email 497           0
274  Email 498           0
275  Email 499           0
276  Email 500           0

[277 rows x 2 columns]